@import url("https://fonts.cdnfonts.com/css/helvetica-neue-55");

body {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: Helvetica;
}
.large-container {
  max-width: 1360px;
  margin: 0 auto;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
}

@media screen and (max-width: 480px) {
  .container {
    width: 85%; /* Full width for screens up to 480px */
  }
  .large-container {
    width: 100%;
  }
}

@media only screen and (min-width: 481px) and (max-width: 820px) {
  .container {
    width: 70%; /* 744px / 1200px * 100% */
  }
}

@media only screen and (min-width: 821px) and (max-width: 992px) {
  .container {
    width: 75%; /* 900px / 1200px * 100% */
  }
}
@media screen and (min-width: 1400px) {
  .container {
    width: 90%;
  }
  .large-container {
    width: 95%;
  }
}
